<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Laravel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <!-- Styles -->
        <style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .table{
                margin-top:50px;
            }

            .mi_boton{
                margin-bottom:50px;
            }

        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            
            <div class="content">
                
                <div class="title m-b-md">
                    Symfony
                </div>

                <h3>Symfony CRUD Doctrine ORM</h3>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <th scope="row">{{ task.getId() }}</th>
                                <td>{{ task.getTitle() }}</td>
                                <td>{{ task.getDescription() }}</td>
                                <td>{{ task.getCreated_at() | date('Y-m-d H:i:s', timezone="Europe/Paris") }}</td>
                                <td><a href="{{ url('task_edit_controller') }}/{{ task.getId() }}">edit</a></td>
                                <td><a href="{{ url('task_delete_controller') }}/{{ task.getId() }}">delete</a></td>
                            </tr>    
                        {% endfor %}
                               
                    </tbody>
                    
                </table>

                <button class="mi_boton secondary" onclick="document.location='{{ url('task_add_controller') }}'">New Task</button>            

            </div>
        </div>
    </body>
</html>
